#blog{
    background: rgb(253, 221, 241);
}

#blog .contenedor{
    /*display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
    width: 100%;*/
    /*background: rgb(21, 204, 15);*/
    width: 100%;
}

#appp {
    /*background: rgb(170, 0, 0);*/
    display: flex; /*imagenes en una sola linea*/
    justify-content: center;
    flex-wrap: wrap; /*cuando u element no encaha, baja*/
    width: 100%;
}

/*article {
    /*background: rgb(74, 189, 235);*/
   /* background: rgb(245, 76, 194);
    border-radius: 5px;
}*/

#appp div{
    width: 100%;
    margin: 10px;
    max-width: 300px;
    background: rgb(245, 76, 194);
    border-radius: 5px;
}

article{
    width: 80%;
    margin: auto;
}

/*#blog article {
    margin: 10px; 
    width: 100%;
    max-width: 300px;
}*/

#blog div img{
    width: 100%;
    height: auto;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    /*max-width: 300px;*/
}

#blog h3, h4{
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
}

#blog h3{
    color: white;
    margin-bottom: 5px;
    background: rgb(235, 17, 180);
    padding: 5px;
}

.des{
    color: white;
    padding: 2%;
}

#blog div video{
    width: 100%;
    height: auto;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
}

@media (min-width:778px)
{
    #appp div {
        margin: 10px; /*separacion entre imaeegs*/
        width: 40%;
        max-width: 300px;
    }

    article{
        width: 40%;
        margin: auto;
    }
}

@media (min-width:1024px)
{
    #appp div {
        margin: 10px; /*separacion entre imaeegs*/
        width: 30%;
        max-width: 400px;
    }

    article{
        width: 40%;
        margin: auto;
    }
}

